  <footer id="app_footer">
    <a class="button fleft clear-lists" {{action clearLists target='view'}} >Clear Lists</a>
    <a class="button to-top" {{action toTop}}>&uarr;</a>
    <div class="clear"></div>
  </footer>
