@media screen and (max-width: 768px) {
  #app_header { height: 5em; }
  #app_menu li { font-size: .9em; }
  
  .party .col-left { float: none; width: auto; }
  .party .party-info { padding-left: 3.5em; }
  .party .party-size { font-size: 2.5em; }
  .party .name { font-size: 1.2em; font-weight: bold; }
  .party .time-taken,
  .party .time-promised { font-size: .7em; }
  
  .buttons.col-right { clear: both; float: none; margin-top: 10px; width: auto; }
  .party .button { display: block; float: left; font-size: medium; height: 2em; padding: 5px 0; width: 30%; }
  .party .button.notify .phone { font-size: .5em; }
}