body { background-color: #eee; font-family: "Helvetica", "Arial", sans-serif; margin: 6em 0 3em ; padding: 1em; }

#app_header { background-color: #fff; border-bottom: 1px solid #999; height: 6em; position: fixed; top: 0; left: 0; width: 100%; z-index: 100; }
#app_header #red_bar { background-color: #960202; color: #fff; padding: .4em; }
#app_clock { float: right; font-size: 1.2em; }
#app_menu { list-style: none; margin: 0; padding: .4em 0; }
#app_menu li { float: left; font-size: 1.5em; list-style:none; width: 25%; }
#app_menu a { border-left: 1px solid #ccc; color: #999; display: block; padding: .4em 0; text-align: center; text-decoration: none; }
  #app_menu li a.active { color: #000; font-weight: bold; }

.party { background-color: #fff; border: 1px solid #ccc; border-bottom-color: #999; border-radius: 3px; margin: .5em 0; padding: 1em; }
  .party.highlight { background-color: #FFC; }
  .party .party-info { padding-left: 7em; }
  .party .party-size { float: left; font-size: 5em; line-height: 1; margin-left: -1.4em; text-align: center; width: 1.4em; }
  .party .name { font-size: 2em; }
  .party .time { padding-top: .3em; }
  .party .time span { display: inline-block; width: 8em; }
  
  .party .buttons { float: right; }
  .party .button { font-weight: lighter; background-color: #ddd; border-bottom: 1px solid #888; border-radius: 3px; color: #fff; float: left; font-size: 1.6em; height: 2em; margin: .2em; padding: .8em 0 ; text-align: center; width: 4.5em; }
    .party .button:hover {  cursor: pointer; }
  .party .button.notify { background-color: #0b9011; }
    .party .button.notify .phone { display: block; font-size: .6em; }
  .party .button.notify.notified { background-color: #ffde00; color: #365e7a; }
    .party .button.notify .label { display: block; font-size: .8em; }
    .party .button.notify .countdown { display: block; }
  .party .button.seat { background-color: #365e7a; }
    .party .button.unseat { background-color: #037; }
  .party .button.cancel { background-color: #000; }
    .party .button.restore { background-color: #888; border-bottom-color: #333; }

#open_add_party_dialog { display: block; background-color: #fff; border: 1px solid #888; border-bottom-color: #333; border-radius: 3px; font-size: 2em; margin: 5px auto; padding: .5em 0; position: relative; width: 10em; }

#app_footer { background-color: #960202; border-top: 1px solid #300; color: #fff; position: fixed; left: 0; bottom: 0; width: 100% ; z-index: 100; }
  #app_footer a.button { background-color: #a11; color: #fff; font-size: 2.5em; display: block; float: right; padding: 0 .5em .25em; text-decoration: none; }
  #app_footer a.to-top { float: right; }
  
  
#modal_overlay { background-color: rgba(128,128,128,0.75); height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 99 }  
#dialog_container { background-color: #fff; border: 1px solid #bbb; border-bottom-color: #666; border-radius: 3px; margin: 7em 20%; padding: 1em 2em; }
#dialog_container .dialog-title { font-size: 2em; font-weight: normal; margin: 0; text-align: center; }
#new_party_dialog .input-wrapper { font-size: 1.5em; padding-left: 5em; }
#new_party_dialog .input-wrapper label { display: block; float:left; margin-left: -5em; padding-right: .25em; position: relative; text-align: right; width: 4.5em;}
  #new_party_dialog .input-wrapper label span { font-size: medium; }
#new_party_dialog .input-wrapper input { border: none; border-bottom: 1px solid #ccc; font-size: 1em; width: 100%; }
#new_party_dialog .button { color: #fff; border: none; border-radius: 3px; display: block; float: right; font-size: 1.5em; min-width: 6em; padding: .3em .7em; }
#new_party_dialog #add_party_button { background-color: #0b9011;  }
#new_party_dialog #close_button { background-color: #999; float: left; }
#new_party_dialog .status { text-align: center; }
#new_party_dialog .status.alert { background-color: #a00; color: #fff; }

.clear { clear: both; }
.col-left { float: left; width: 45% }
.col-right { float: right; width: 55%; }
