  <div class="party">
    <div class="col-left">
      <div class="party-info">
  	    <div class="party-size">{{size}}</div>
  	    <div class="name">{{name}}</div>
  	    <div class="time-taken"><span>Time Taken:</span> {{hourMinute time_taken}}</div>
  	    <div class="time-promised"><span>Time Promised:</span> {{hourMinute time_promised}}</div>
  	  </div><!-- .party-info -->
    </div><!-- .half.left -->
    <div class="buttons col-right">
  	  <div class="button restore">Restore</div>
    </div><!-- .buttons -->
    <div class="clear"></div>
  </div><!-- .party -->

