{{#if addingNewParty}}
  {{view App.Views.PartyNew}}
{{/if}}

<button id="open_add_party_dialog" {{action openAddPartyDialog}}>Add New Party</button>

{{#each arrangedContent}}
  {{view App.Views.PartyWaiting}}
{{/each}}