<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.doublebeamdesign.tablebytext"
        versionCode="001" 
        version   = "0.9.2">

    <!-- versionCode is optional and Android only -->
    
    <name>Table by Text</name>

    <description>
        An application for paging waiting restaurant diners via SMS. 
    </description>

    <author href="https://doublebeamdesign.com.com" email="hello@doublebeamdesign.com">
        Double Beam Design Group 
    </author>



    <feature name="http://api.phonegap.com/1.0/network"/>
    <access origin="https://tablebytext.com" subdomains='true' />
</widget>
