    <div class="dialog-overlay">
  	  <div class="dialog" id="new_party_dialog">
  	    <p>
  	      <label for="party_name">Name</label>
  	      <input type="text" name="party_name" id="party_name" />
  	    </p>
  	    <p>
  	      <label for="party_size">Size</label>
  	      <input type="text" name="party_size" id="party_size" />
  	    </p>
  	    <p>
  	      <label for="party_wait">Estimated Wait</label>
  	      <input type="text" name="party_wait" id="party_wait" />
  	    </p>
  	    <p>
  	      <label for="party_phone">Phone Number</label>
  	      <input type="text" name="party_phone" id="party_phone" />
  	    </p>
  	  </div>
    </div>	
